
// Styles for the site's header and main navigation bar.

@use "./typography" as *;
@use "./utility" as *;
@use "./theme" as *;

// || LOGO AND TITLE LINKS

#logo {
	width: gutter-x(2);
	aspect-ratio: 1;
	margin-block: nav-padding-y(1);

	[data-bs-theme="dark"] & {
		filter: drop-shadow(0 0 2px c-primary(.2)) drop-shadow(0 0 6px c-primary(.2));
	}
}

.brand-container {
	gap: gutter-x(.25);
}

.brand-links {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	margin-right: var(--bs-navbar-brand-margin-end);

	.navbar-brand {
		display: block;
		margin: 0;
		text-align: center;
		padding: nav-padding-y(1) 0;

		&:hover {
			color: rgb(var(--bs-link-color-rgb));
		}

		&:has(+ .navbar-brand) {
			@extend %border-bottom-fade-both;
			padding-block: nav-padding-y(1) nav-padding-y(.5);
			font-size: calc(0.7 * var(--bs-navbar-brand-font-size));
		}

		+ .navbar-brand {
			margin-bottom: -0.1rem;
			padding-block: nav-padding-y(.5) nav-padding-y(1);
		}
	}
}

// || NAV BAR

body > header {
	height: fit-content;
	background: $c-bg-tertiary;
}

#navbar-custom {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;

	.dropdown-item {
		padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
	}
}

.nav-item {
	@include mobile-only {
		flex: 100% 1 0;
	}

	a {
		display: inline-block;
		min-height: 24px;
	}
}

.nav-item-icon:first-child, li:not(.nav-item-icon) +.nav-item-icon {
	flex: fit-content 0 1;
	@include desktop-only {
		flex: fit-content 1 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

@mixin -nondropdown-link-beside-details {
	a:has(+ details) {
		display: block;
		margin-bottom: -1lh;
		margin-right: 1em;
		position: absolute;
		z-index: 1;
	}
	details {
		display: block;
	}
	summary {
		display: flex;
		justify-content: space-between;

		> .sr-only {
			position: unset;
		}
	}
}

.navbar {
	padding-inline: gutter-x(.5);

	.navbar-nav {
		flex: min-content 1 0;
		flex-direction: row;

		& > li:has(> a + details) {
			position: relative;
		}
		& > li > a + details {
			position: unset;
			& > ul {
				left: 0;
			}
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		&.dropdown-menu {
			top: 100%;
			@include -nondropdown-link-beside-details();
		}
		&.dropdown-menu-end {
			right: 0;
		}
	}

	details {
		display: inline-block;
		position: relative;
	}

	summary {
		display: inline-block;

		@include fleur-right("images/dropdown.svg", 0, 0) {
			display: inline-block;
			background-position: center right;
			background-size: .8em;
			width: 1.2em;
		};
	}

	li {
		align-content: center;
		position: relative;
	}

	a {
		text-decoration: inherit;
		color: inherit;

		&:hover {
			text-decoration: underline;
			// color: inherit;
		}

		&[aria-current] {
			color: var(--bs-navbar-hover-color);
		}
	}

	@include mobile-only {
		#navbar-custom {
			flex-direction: column-reverse;
			padding-bottom: 1rem;
			gap: 1rem;
			align-items: stretch;
		}

		.navbar-nav {
			gap: .5rem;
			flex-wrap: wrap;
		}

		ul {
			@include -nondropdown-link-beside-details();
		}

		details {
			display: block;
		}
	}
}
