/* FONTS */

@font-face {
	font-family: "TrajanPro";
	src: local("Trajan Pro"), local("TrajanPro-Regular"), url("fonts/TrajanPro-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "TrajanPro";
	src: local("Trajan Pro"), local("TrajanPro-Bold"), url("fonts/TrajanPro-Bold.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "TrajanPro-Fallback";
	src: local(Times New Roman);
	size-adjust: 113%;
	ascent-override: 74%;
	descent-override: 28%;
	line-gap-override: normal;
	font-display: swap;
}

@font-face {
	font-family: "Perpetua";
	src: local("Perpetua"), url("fonts/Perpetua.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Perpetua-Fallback";
	src: local(Times New Roman);
	size-adjust: 90%;
	ascent-override: normal;
	descent-override: 36%;
	line-gap-override: normal;
	font-display: swap;
}

:root {
	--font-header-serif: TrajanPro,"TrajanPro-Fallback","Times New Roman",serif;
	--font-body-serif: Perpetua,"Perpetua-Fallback","Times New Roman",serif;
	--bs-font-sans-serif: Lato,Roboto,Arial,sans-serif;
}

/* COLOURS */

:root {
	--bs-body-bg: rgb(var(--bs-body-bg-rgb));
	--bs-secondary-bg: rgb(var(--bs-secondary-bg-rgb));
	--bs-tertiary-bg: rgb(var(--bs-tertiary-bg-rgb));
	--bs-border-color: var(--bs-body-color);
}
.navbar#autocollapse {
	background: var(--bs-tertiary-bg);
}
.form-control {
	background-color: var(--bs-secondary-bg);
}
[data-bs-theme] .alert {
	color: var(--bs-alert-border-color);
}

[data-bs-theme="dark"] {
	--bs-body-color: #e4e3e2;

	--bs-body-bg-rgb: 46,35,32;
	--bs-secondary-bg-rgb: 93,82,77;
	--bs-tertiary-bg-rgb: 30,14,11;
	--bs-link-color-rgb: 255,159,104;
	--bs-link-hover-color-rgb: 255,176,131;

	--bs-info-bg-subtle:     #90caf915;
	--bs-info-border-subtle: #90caf9;

	--bs-warning-bg-subtle:     #fff59d15;
	--bs-warning-border-subtle: #fff59d;

	--bs-danger-bg-subtle:     #ef9a9a15;
	--bs-danger-border-subtle: #ef9a9a;
}
[data-bs-theme="dark"] code.hljs {
	background: var(--bs-tertiary-bg);
}

[data-bs-theme="light"] {
	--bs-body-color: #090707;

	--bs-body-bg-rgb: 241,235,236;
	--bs-secondary-bg-rgb: 227,215,216;
	--bs-tertiary-bg-rgb: 224,205,207;
	--bs-link-color-rgb: 184,67,0;
	--bs-link-hover-color-rgb: 235,85,0;

	--bs-info-bg-subtle:     #0054991a;
	--bs-info-border-subtle: #005499;

	--bs-warning-bg-subtle:     #fff59d47;
	--bs-warning-border-subtle: #706500;

	--bs-danger-bg-subtle:     #8415151a;
	--bs-danger-border-subtle: #841515;
}
[data-bs-theme="light"] code.hljs {
	background: var(--bs-secondary-bg);
}

/* Invert the colour of fleurs for light mode */
[data-bs-theme="light"] nav#toc:before,
[data-bs-theme="light"] nav#toc > div > ul:after,
[data-bs-theme="light"] nav#affix:before,
[data-bs-theme="light"] nav#affix:after,
[data-bs-theme="light"] .alert:before {
	filter: brightness(0.15) sepia(1) hue-rotate(-40deg) saturate(2);
}

/* Match header buttons to fleurs */
[data-bs-theme="light"] .btn {
	--bs-btn-color: #432923;
}


/* TABLE OF CONTENTS (LEFT) */

nav#toc:before {
	/* em space; needed for pseudo-element to render */
	content: "\2003";
	background: no-repeat center/contain url("images/fleur_top.svg");
	height: 2em;
	margin-bottom: calc(var(--bs-gutter-x) * 0.75);
}

nav#toc > div > ul:after {
	content: "\2003";
	display: block;
	background: no-repeat center/contain url("images/fleur_bottom.svg");
	min-height: 100%;
	margin-top: var(--bs-gutter-x);
}

/* TABLE OF CONTENTS (RIGHT) */

nav#affix {
	border: 0;
	display: flex;
	flex-direction: column;
}

nav#affix:before {
	content: "\2003";
	background: no-repeat center/contain url("/public/images/fleur_top.svg");
	min-height: 100%;
	height: 2rem;
	margin-bottom: calc(var(--bs-gutter-x) * 0.1);
}

nav#affix:after {
	content: "\2003";
	background: no-repeat center/contain url("/public/images/fleur_bottom.svg");
	min-height: 100%;
}

/* ALERT BOXES */

.alert {
	border-radius: 0;
}

.alert > *:last-child {
	margin-bottom: 0;
}

.alert:before {
	content: "\2003";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-image: url("images/inventory_cursor.svg") 48 / 1.8rem / 0.25rem;
}

/* MISC? */

h1, h2, h3, h4, h5, h6, .navbar .navbar-brand {
	font-family: var(--font-header-serif);
	line-height: 1.3;
}

h1, h2, hr, nav#affix h5 {
	border-image: linear-gradient(to right, var(--bs-body-color) 0%,var(--bs-body-color) 50%, rgba(0,0,0,0) 100%);
	border-image-width: var(--bs-border-width) 0;
	border-image-slice: 0 0 1;
}

.alert h5 {
	text-transform: none;
}

.alert {
	font-family: var(--font-body-serif);
	font-size: calc(var(--bs-body-font-size) * 1.2);
}
